<h1>Article</h1>

<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :content %>
  <%= form.text_area :content %>
  <%= form.submit value: "Create Article" %>
<% end %>